<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    {% include "components/navbar.html.jinja"%}

       <main>
            <!--Main header for the cart page-->
            <div>
                <h1 class="font-bold text-lg"> Your Cart</h1>
            </div>
            
        <div class="flex flex-row">
            <div class="flex flex-col gap-8 p-3">

                {% for x in cart%}
                
                    <div class="flex flex-row space-x-4 w-200 border-2 rounded-xl">
                        
                        <div>
                            <a href="/product/{{x['ProductID']}}">
                            <img width="250"
                            src="{{ x['Image'] }}" 
                            alt="{{ x['Name'] }}"> </a>
                                
                        </div>
                        
                        <div> 
                        <a href="/product/{{x['ProductID']}}">
                            {{x["Name"]}}
                            </a>
                        </div>

                        <div>
                            <form method="post" action="/cart/{{x ['ProductID' ]}}/update_quantity"> 
                            <input name ="quantity" type="number" value="{{x ['Quantity']}}" min="1" max="20" class="w-12" >

                            </form>
                        </div>

                        <div> {{ x ["Price"] * x ["Quantity"] }}</div>

                        <div> 
                        <form method="post" action="/cart/{{x ['ProductID'] }}/delete">
                            <button> Remove</button>
                        </form>
                        </div>

                    </div>
                {%endfor%}
                
                
            </div >

                <div class="w-150 p-5 bg-blue-100">
                    <h1 class="text-center"> Subtotal</h2>

                    <h2> 
                    {% for x in cart%} 
                        {{ x ["Price"] * x ["Quantity"] }} 
                    {%endfor%}</h2>

                    <form method="post" action="/checkout">
                        <button> Proceed to Checkout </button>
                    </form>
                </div>
            
        </div>

        </main>
                    
    </body>
</html>