<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
    <body>
        {% include "components/navbar.html.jinja"%}
      <main>
        

        <div class="flex flex-row gap-3 p-2">
            {%for x in orders%}
            <div class=" flex flex-col ">
                <p>{{x["Name"]}} </p>
            </div>


            {%endfor%}
        </div>


      </main>
        
    </body>
</html>