<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
    <body>


    {% for message in get_flashed_messages()%}
        <li>{{ message}} </li>
    {% endfor%}



    <form method="post" class="flex flex-col gap-2">
      <label class="bg-gray-150"> Full Name</label>
      <input required name="full_name">

      <label>Email</label>
      <input required name="email">

      <label>Password</label>
      <input required type="password" name="password">

      <label>Confirm Password</label>
      <input type="password" name="confirm_password">

      <label>Address</label>
      <input required name="address">

      <button type="submit"> Register</button>

    </form>


    </body>
</html>